{% extends "fsmEchangeBundle::layout.html.twig" %}
{% block body %}
 <div class="row">
<div class="col-lg-6 col-lg-offset-3">
    <div class ="well">
        Le processus d'inscription est terminé.<hr/>
        L'administrateur devrait maintenant procéder à votre habilitation.<hr/>
        Merci pour votre patience.
        
  
        
    </div>
    </div>
</div>
{% endblock %}

