{% block body %} 

<span class="badge">Message issu du site la manufacture de Pantin.</span>


<img   width="100" src="{{ asset('img/manufacture.jpg') }}" />
        {{textemail}}
   {% endblock %}