{% extends "fsmEchangeBundle::layout.html.twig" %}
{% block body %}
<div class ="row-30">
    <div class ="col-lg-5"></div>
<caption>
            <h4 >Toutes les annonces </h4 >
        </caption>
</div>

<div class="row">
<div class="col-lg-4 col-lg-offset-4">
<div class ="well">
  <form method ="post" {{ form_enctype(form) }}> 
       {{ form_widget(form) }}
        <input type ="submit" class ="btn btn-primary" />
    </form>
</div>
</div>
</div>    
<p>{%include "fsmEchangeBundle:Objets:Recherche.html.twig"%}</p>
<br>
  
<p>{%include "fsmEchangeBundle:Objets:Objets.html.twig"%}</p>
{% endblock %}
