<footer>
    <div class ="row">
        <hr>
  {% if is_granted ("IS_AUTHENTICATED_REMEMBERED") %}
        <div class ="col-lg-2">
      {% if app.user.getPhotos is not null %}    
   {%for photo in app.user.getPhotos%}
{% if photo.getPrincipal() == 1 %}
            <img width="40" class="img-circle" src="{{asset( photo.getWebPath)}}" alt="{{photo.alt}}" /> 
 {% endif %} 
{% else %} 
             <img width="30" class="img-circle" src="{{ asset('img/user.jpg') }}"  /> 
      {%endfor%}
       {% endif %}   </div> 
        <div class ="col-lg-2"><p class="text-center">
                Connecté en tant que {{ app.user.username }}</p>
        </div>   {% endif %}    
        <div class ="col-lg-4"></div> 
        <div class ="col-lg-4"><p class="text-center"></p></div>
    </div>
</footer>
