{% extends "fsmEchangeBundle::layout.html.twig" %}
{% block body %}
 <div class="row">
<div class="col-lg-6 col-lg-offset-3">
    <div class ="well">
        L'administrateur ne vous a pas habilité. Ca ne saurait tarder.
        
    </div>
    </div>
</div>
{% endblock %}

