{% extends "fsmEchangeBundle::layout.html.twig" %}
{% block body %}
<p>
{# On affiche tous les messages flash dont le nom est 
info  #}
{% for message in app.session.flashbag.get('Objetinfo') %}
<p >{{ message }} </p>
{% endfor %}
</p>
<div class ="well">
   <form method ="post" {{ form_enctype(form) }}> 
       {{ form_widget(form) }}
<input type ="submit" class ="btn btn-primary" />
</form>
</div>
{% endblock %}
