{% extends "fsmEchangeBundle::layout.html.twig" %}
{% block body %}
<div class ="row-30">.</div>
      <div class ="row">
          <div class ="col-lg-4"> </div> 
          <div class ="col-lg-2">      
{% for categorie in categories %}
<p><strong>{{categorie.nom}}</strong>
 <a href="{{path('fsm_categorie_modif',{'id':categorie.id})}}">modif</a></p>

{%endfor%}
 </div>
           </div>
{%endblock%}