{% extends "fsmEchangeBundle::layout.html.twig" %}
{% block body %}
<div class ="row-30">.</div>
<div class ="row">

     <div class ="col-lg-4"> </div> 
    {%if periodes|length < 13  %}
    <a class="navbar-brand" href="{{path('fsm_periode_add',{'id':exercice})}}">Ajout de périodes</a>
    <br/> <br/>
    {%endif%}
   
  
    <div id = "test" class ="col-lg-2">      
{% for periode in periodes %}
        <p><strong>{{periode.libelle}}</strong>
            <a id="cat"  onclick ='periodemod({{periode.id}})' href="#">Modif</a>
        </p>
{%endfor%}
    </div>
    <div id="gestionperiode" class ="col-lg-2"> 
        <p>{%include "fsmEchangeBundle:Exercice:Modif.html.twig"%}</p>
    </div>
</div>
<script>
    function periodemod(id1) {
        $.ajax({
            url: Routing.generate('fsm_periode_update', {id: id1}),
            cache: false,
            success: function(html) {
                $('#gestionperiode').empty();
                $('#gestionperiode').append(html);

            }
        });
        return false;
    }
</script>


{%endblock%}