<div id="popupFormConsulter" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="popupLabel">Informations sur l'activité</h3>
    </div class="modal-header">
    <div class="modal-body">
       {# <form action="{{ path('myproj_activite_formModifier', { 'idActivite' : id }) }}" method="post" {{ form_enctype(form) }}
        {{ form_widget(form) }}
            <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
            <input type="submit" value="Enregistrer" class="btn btn-primary" />
        </div>
        </form>#}
    </div>
</div>