{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <div class ="well">
            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">

{{ form_widget(form) }}
                <div>
                    <hr/>
                    <input class="btn btn-success" type="submit" id="_submit" name="_submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />


                </div>
            </form>
        </div>
    </div>
</div>



